

/*==============================================
    GENERAL  STYLES    
 =============================================*/
body {
    font-family: Verdana;
    padding-top: 70px; /* REQUIRED FOR FIXED NAVBAR*/
}

/*==============================================
   SING UP PAGE  STYLES    
 =============================================*/
.signup-wrapper {
    padding-top: 60px;
}

    .signup-wrapper .form-control {
        max-width: 300px;
    }

    .signup-wrapper .btn {
        margin-bottom: 5px;
    }
    .signup-wrapper label {
        font-weight:normal;
        padding-top:10px;
    }
/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-google {
    background-color: #c32f10;
}
